<h2 class="mt-5 text-center">Matheus Henrique Misumoto</h2>
<p class="text-center">RA 0050831821028</p>

<ul class="nav nav-pills mt-4 flex-sm-column nav-justified">
	<li class="nav-item">
		<a class="nav-link" href="https://matheusmisumoto.jor.br/" target="_blank">Site pessoal</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="https://github.com/matheusmisumoto" target="_blank">GitHub</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="https://youtube.com/matheusmisumoto" target="_blank">YouTube Gaming</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="https://twitch.tv/matheusmisumoto" target="_blank">Twitch</a>
	</li>
</ul>


<div class="card mt-5 mb-5">
	<div class="card-body">
		<h5 class="card-title">Descrição do Projeto</h5>
		<p class="card-text">Criar no StackBlitz um novo projeto em Angular com:</p>
    <ul>
			<li>Uma página inicial com informações da equipe.</li>
			<li>Uma página que liste as disciplinas do curso:
				<ul>
					<li>As disciplinas devem estar paginadas por semestre.</li>
					<li>Cada disciplina deverá ter um link para os detalhes da disciplinas, incluindo a nota tirada por
						cada aluno da equipe.</li>
				</ul>
			</li>
			<li>Uma página que mostre os detalhes da disciplina.</li>
			<li>Uma página que mostre a quantidade de disciplinas cursadas e a média geral dos alunos da equipe</li>
			<li>O código fonte deverá estar versionado no GitHub</li>
			</ul>
	</div>
</div>